<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cdkj.token">

    <uses-permission android:name="android.permission.VIBRATE" /> <!--震动-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /><!--允许修改当前设置-->
    <uses-permission android:name="android.permission.INTERNET" /><!--链接网络-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--允许程序写入外部存储，如SD卡上写文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--允许程序写入外部存储，如SD卡上写文件-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!---->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!--友盟-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- 多渠道打包 -->

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">

        <!--友盟渠道标识-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_CHANNEL_APPKEY}" />

        <activity android:name=".user.login.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".wallet.account_wallet.BillDetailActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".wallet.account_wallet.WithdrawActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UserSecurityActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UserEmailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.setting.UserLanguageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UpdateLoginPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.setting.UserAboutActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.login.SignInActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".user.login.SignUpActivity" />
        //找回密码
        <activity
            android:name=".user.login.FindLoginPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //修改手机号
        <activity
            android:name="com.cdkj.baselibrary.activitys.UpdatePhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //资金密码修改
        <activity
            android:name="com.cdkj.baselibrary.activitys.PayPwdModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        //H5
        <activity
            android:name="com.cdkj.baselibrary.activitys.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        // 图片
        <activity
            android:name="com.cdkj.baselibrary.activitys.ImageSelectActivity"
            android:theme="@style/ActivityDialogStyleBottom" />
        // 实名认证
        <activity
            android:name="com.cdkj.baselibrary.activitys.AuthenticateActivity"
            android:launchMode="singleTask">

            // 需要添加下面的intent-filter配置
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                //scheme:为 实名认证Activity，认证接口参数"returnUrl"冒号前字符，host为同位置参数冒号后字符
                <data
                    android:host="certify.back"
                    android:scheme="orangecoin" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wallet.account_wallet.WithdrawOrderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UserGoogleActivity"
            android:windowSoftInputMode="adjustPan" />

        <!--拨打电话-->
        <activity
            android:name=".user.CallPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".find.NoneActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.account_wallet.BillListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.AddChoiceCoinActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.MsgListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.UserJoinActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.WalletToolActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".wallet.create_guide.CreateWalletSuccessActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.create_guide.WalletBackupCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.create_guide.WalletHelpWordsShowActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".wallet.import_guide.ImportWalletSuccessActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.import_guide.ImportCreatePassWordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.backup_guide.BackupWalletStartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.WalletPasswordModifyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.backup_guide.WalletBackupPasswordCheckActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".wallet.export.CoinKeySelectActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.export.CoinPrivateKeyShowActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.export.WalletExportPasswordCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.private_wallet.WalletCoinDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.private_wallet.WalletAddressShowActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.private_wallet.WalletTransferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.private_wallet.TransactionDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.product_application.red_package.SendRedPackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.product_application.red_package.RedPackageShearActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.product_application.red_package.RedPackageHistoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.CountryCodeListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.product_application.red_package.QRRedPackageImgActivity"
            android:theme="@style/ActivityDialogStyleBottom" />
        <activity
            android:name=".user.GoogleCodeSetActivity"
            android:theme="@style/ActivityDialogStyleBottom" />
        <activity
            android:name=".user.setting.LocalMarketTypeChooseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.login.SetLoginPwdActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".find.FutureImageShowActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.WebViewImgBgActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.import_guide.ImportWalletStartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.create_guide.CreateWalletStartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.backup_guide.BackupWalletWordsCheckActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.account_wallet.RechargeAddressQRActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.pattern_lock.PatternLockSettingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.pattern_lock.PatternLockCheckActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.question_feedback.QuestionFeedbackHistoryListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.question_feedback.QuestionFeedbackSubmitActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.question_feedback.QuestionFeedbackDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".user.setting.UserSettingActivity" />
        <activity android:name=".user.invite.InviteFriendActivity" />
        <activity android:name=".user.invite.InviteFriendQrImgShowActivity" />
        <activity android:name=".find.product_application.management_money.ManagementMoneyListActivity" />
        <activity android:name=".find.product_application.management_money.MyManagementMoneyListActivity" />
        <activity android:name=".find.product_application.management_money.MyManagementMoneyDetailsActivity" />
        <activity
            android:name=".wallet.private_wallet.WalletBTCTransferActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.private_wallet.BTCTransactionDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".find.product_application.management_money.ManagementMoneyDetailsActivity" />
        <activity android:name=".wallet.private_wallet.EthTokenCoinTransactionDetailsActivity" />
        <activity android:name=".wallet.WalletPasswordModifyActivity2" />
        <activity
            android:name=".wallet.smart_transfer.SmartTransferActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".find.product_application.red_package.SendRedPacketActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".find.product_application.red_package.CoinSelectListActivity" />

        <activity android:name=".user.invite.InviteActivity" />
        <activity android:name=".user.invite.InviteRuleActivity" />
        <activity android:name=".user.invite.InviteQrActivity" />

    </application>

</manifest>